.vect{
    position: absolute;
    left: 1px;
    top: 768px;
    width: 30%;
    z-index: -999999;
}
.price{
    display: flex;
    justify-content: space-between;
}
.order{
    background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
    border-radius: 100px;
    width: 100px;
    padding: 10px;
    border: none;
    margin-top: 10px;


}
.midsect{
    padding-top: 5%;
    overflow: hidden;
    padding-left: 15%;
}
.cov{
    display: block;
    justify-content: space-between;
}
.h6p{
    font-size: 16px;
    font-weight: 400;
    color: #7D7987;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 4px;
}
.h4p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}
.ebike{
    text-align: start;
    color: #233348;
    ;
}
.card{
    box-shadow: 10px 24px 54px 0px #0000000F;
    color: #233348;
    width: 70%;
    padding: 17px;
    z-index: 100000;
    border-radius: 20px;
    background-color: #fff;

}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 23%;
}
.prevBtn{
    border: none;
    border-radius: 50%;
    padding: 20px;
    background: #FFE8B9;
    margin-right: 20px;

}
.nextBtn{
    background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
    border: none;
    border-radius: 50%;
    padding: 20px;
}
.card2{
    opacity:1;
}



.bike{
    padding-left: 25%;
}
.spacecontainer{
    width: 367px;  
    color: white;
}

.containerSlider {
        overflow: hidden;
        padding-left: 1%;
        padding-top: 0%;
        /* background: #001928; */
        /* box-shadow: 0 10px 20px rgb(0 0 0 / 20%); */
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 123px;

}
.active{
    opacity: 1;
    transform: 0.2s;
    transform: translate(90px, 0px);
}
.slide{
    opacity: 1;
    transition: 0.1s;
    
}
.title{
    margin-bottom: 10px;
}
.content{
    font-family: 'Josefin Sans', sans-serif;
}
.nextSlide{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
    margin-top: 5%;
}
.current{
    display: flex;
    justify-content: space-between;
    width: 131px;
    height: 35px;
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 24px;
    padding: 8px;
}
.Acticecurrent{
    width: 35%;
    height: 20px;
    background-color: #ff6464;
    border-radius:10px;
    transition: 0.2s ease-in-out;
}
.inActivecurrent{
    width: 30%;
    height: 20px;
    background-color: #fff2de;
    border-radius:10px;
}
.nextBtn{
    width: 66px;
    height: 66px;
    background-color: rgba(255, 255, 255, .15);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.next{
    border: solid;
    width: 10px;
    transform: rotate(45deg);
    height: 10px;
    border-width: 2px;
    border-color: white;
    border-bottom: none;
    border-left: none;
}
@media only screen and (max-width: 600px) {
    .bike{
        padding-left: 0%;
    }
    .vect{
        position: absolute;
        left: 1px;
        top: 768px;
        width: 30%;
        z-index: -999999;
    }
    .price{
        display: flex;
        justify-content: space-between;
    }
    .order{
        background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
        border-radius: 100px;
        width: 100px;
        padding: 10px;
        border: none;
        margin-top: 10px;
    
    
    }
    .midsect{
        padding-top: 5%;
        overflow: hidden;
        padding-left: 0%;
    }
    .cov{
        display: block;
        justify-content: space-between;
    }
    .h6p{
        font-size: 16px;
        font-weight: 400;
        color: #7D7987;
        margin-top: 0px;
        margin-right: 12px;
        margin-bottom: 4px;
    }
    .h4p{
        font-size: 20px;
        font-weight: 700;
        margin-top: 0px;
    }
    .ebike{
        text-align: start;
        color: #233348;;
    }
    .card{
        box-shadow: 10px 24px 54px 0px #0000000F;
        color: #233348;
        width: 100%;
        padding: 17px;
        z-index: 100000;
        border-radius: 20px;
        margin-bottom: 30px;
        background-color: #fff;
    
    }
    .btn{
        display: flex;
        justify-content: flex-end;
        margin-top: 3%;
        margin-right: 23%;
    }
    .prevBtn{
        border: none;
        border-radius: 50%;
        padding: 20px;
        background: #FFE8B9;
        margin-right: 20px;
    
    }
    .nextBtn{
        background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
        border: none;
        border-radius: 50%;
        padding: 20px;
    }
    .card2{
        opacity:1;
    }
  }

