.vect{
    position: absolute;
    left: 1px;
    top: 768px;
    width: 30%;
    z-index: -999999;
}
.price{
    display: flex;
    justify-content: space-between;
}
.order{
    background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
    border-radius: 100px;
    width: 100px;
    padding: 10px;
    border: none;
    margin-top: 10px;


}
.midsect{
    padding-top: 5%;
    overflow: hidden;
    padding-left: 15%;
}
.cov{
    display: flex;
    justify-content: space-between;
}
.h6p{
    font-size: 16px;
    font-weight: 400;
    color: #7D7987;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 4px;
}
.h4p{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
}
.ebike{
    text-align: start;
    color: #233348;
    ;
}
.card{
    box-shadow: 10px 24px 54px 0px #0000000F;
    color: #233348;
    width: 27%;
    padding: 17px;
    z-index: 100000;
    border-radius: 20px;
    background-color: #fff;

}
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 23%;
}
.prevBtn{
    border: none;
    border-radius: 50%;
    padding: 20px;
    background: #FFE8B9;
    margin-right: 20px;

}
.nextBtn{
    background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
    border: none;
    border-radius: 50%;
    padding: 20px;
}
.card2{
    opacity:0.3;
}
@media only screen and (max-width: 600px) {
    .vect{
        position: absolute;
        left: 1px;
        top: 768px;
        width: 30%;
        z-index: -999999;
    }
    .price{
        display: flex;
        justify-content: space-between;
    }
    .order{
        background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
        border-radius: 100px;
        width: 100px;
        padding: 10px;
        border: none;
        margin-top: 10px;
    
    
    }
    .midsect{
        padding-top: 5%;
        overflow: hidden;
        padding-left: 0%;
    }
    .cov{
        display: block;
        justify-content: space-between;
    }
    .h6p{
        font-size: 16px;
        font-weight: 400;
        color: #7D7987;
        margin-top: 0px;
        margin-right: 12px;
        margin-bottom: 4px;
    }
    .h4p{
        font-size: 20px;
        font-weight: 700;
        margin-top: 0px;
    }
    .ebike{
        text-align: start;
        color: #233348;;
    }
    .card{
        box-shadow: 10px 24px 54px 0px #0000000F;
        color: #233348;
        width: 100%;
        padding: 17px;
        z-index: 100000;
        border-radius: 20px;
        margin-bottom: 30px;
        background-color: #fff;
    
    }
    .btn{
        display: flex;
        justify-content: flex-end;
        margin-top: 3%;
        margin-right: 23%;
    }
    .prevBtn{
        border: none;
        border-radius: 50%;
        padding: 20px;
        background: #FFE8B9;
        margin-right: 20px;
    
    }
    .nextBtn{
        background: linear-gradient(180deg, rgba(255, 189, 55, 0.58) 0%, #FFBD37 100%);
        border: none;
        border-radius: 50%;
        padding: 20px;
    }
    .card2{
        opacity:1;
    }
  }