.midesectImain{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-left: 15%;
}
.midsectIimgDiv{
    padding: 10px;
    box-shadow: -1px 10px 29px #d3d3d3;
    border-radius: 10px;
}
.firsBike0{
    border: 2px solid #FCB72B;
    box-sizing: border-box;
    border-radius: 10px;
}
.main4{
    opacity: 0.3;
}