.mainnav{
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
}
.navlinks{
    display: flex;
    justify-content: space-between;   
}
.navlinks div{
    margin-left: 40px;
}
.navlogo{
    padding-top: 12px;
}
.active{
    font-weight: 700;
    font-size: 18px;
    color: #233348;
    cursor: pointer;
}
.inactive{
    color: #7D7987;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.navBg{
    padding: 20px;
    background: #FFBD37;
    border-radius: 20px;
}